---
import Layout from "../layouts/Layout.astro";
import SocialMedia from "../components/SocialMedia.astro";
import RedCircle from "../components/RedCircle.astro";
import TextoInicio from "../components/TextoInicio.astro";
import Boton from "../components/Boton.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body class="">
    <Layout title="Mas Ricos.">
      <div class="fixed left-32 top-72 z-10 flex flex-col justify-around">
        <TextoInicio />
        <Boton />
      </div>
      <div class="fixed top-48 right-1/2 z-0"><RedCircle /></div>
      <div class="fixed top-96 right-0"><SocialMedia /></div>
    </Layout>
  </body>
</html>
