---
import Layout from "../layouts/Layout.astro";
import Scrollimage from "../components/Scrollimage.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body class="">
    <Layout title="Menu.">
      hola menu
      <Scrollimage />
    </Layout>
  </body>
</html>
