---
import Layout from "../layouts/Layout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body class="">
    <Layout title="Menu.">hola menu</Layout>
  </body>
</html>
