---
import Botonbarra from "../components/Botonbarra.astro";
---

<nav class="sticky top-0 z-10  backdrop-filter backdrop-blur-lg bg-opacity-30 border-b border-gray-200">
    <div class="flex justify-between h-20 max-w-5xl max-h-20 mx-auto px-2 py-4" >
        <div class="object-scale h-10 w-16">
            <img src="src/media/MasRicosLogo.png" >
        </div>
        <div class="flex space-x-10 text-gray-900">
            <Botonbarra href="/" text="INICIO" ></Botonbarra>
            <Botonbarra href="/menu" text="MENU" ></Botonbarra>
            <Botonbarra href="/" text="CONTACTO" ></Botonbarra>
            <Botonbarra href="/" text="UBICACION" ></Botonbarra>
        </div>
        </div>    
</nav>