---
import { Image } from "astro:assets";
import myEmpanada from "../Image/empanads.png";
import mySanwi from "../Image/sanwi.png";
---

<div class="relative">
    <div class="absolute inset-y-0 right-0 w-16 snap-x">
        <div class="snap-center">
            <Image
                src={myEmpanada}
                alt="Empanada Frita"
                width="400"
                height="300"
            />
        </div>
        <div class="snap-center">
            <Image 
            src={mySanwi} 
            alt="Sanwich" 
            width="100" 
            height="70" />
        </div>
    </div>
</div>
