---
interface Props {
	title: string; //typescript esto es y ese es un atributo de la etiqueta
}
const { title } = Astro.props; //hacemos una constante para acceder al valor de tittle y astro es una variable global
import BarraNav from "../components/BarraNav.astro"; //importamos el componente que vamos a usar en el layout
import Botonbarra from "../components/Botonbarra.astro";
---
<!-- Este es el html que usamos para hacer el layout en la webpage -->
<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt" />
		<title>{title}</title>
	</head>
	<body class="bg-white">
		<main class="">
			<BarraNav>
			</BarraNav>
			<slot />
		</main>
	</body>
</html>
<!-- este es el css para el layout y puede ser global o solo para este html -->
<style is:global>
	html {
		font-family: "Prompt", sans-serif;
		background: #ffffff;
		color-scheme: light;
	}
</style>
